p{
    margin-right: 10%;
    font-size: 30px;
    line-height: 1.5;
    width: 200px;
    margin-bottom: auto;
    padding: 20;
    font-size: 30px;
    background: #000;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-top: 20px

    
}